
  <p>
    <mat-toolbar color="primary">
      <button mat-button  routerLink="/inicioAdm">Inicio</button>
      <button mat-button (click)="navigateTo()" >Ajustes</button>
      <button mat-button routerLink="/admUsuario">Ver Usuarios</button>
      <button (click)="toggleModoOscuro()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>brightness_2</mat-icon>
      </button>

      <div class="UserDiv">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
      </div>


      
    </mat-toolbar>
</p>