<app-header-moderator *ngIf="tipoU === 'Moderator'"></app-header-moderator>
<div *ngIf="tipoU === 'Moderator'">
  <div class="card-container">
    <mat-card class="card small-card " >
  
      <div class="card-content" >
        <div class="title">Usuarios totales</div>
        <div class="number-container" routerLink="/admUsuario">
          <div class="number" style="display: flex; ">{{cantUser}} 
            <p class="iconsUltimoUsuario" [style.color]="increaseUser > 0 ? 'green' : 'red'">
              {{ increaseUser }}%
            </p>
            <img *ngIf="increaseUser < 0"  class="imgValores" >
            <img *ngIf="increaseUser > 0" class="imgValoresSubida" >
          </div>
        </div>
      </div>
    </mat-card>
    
    <mat-card class="card small-card " >
    <div class="card-content" >
      <div class="title">Usuarios del Mes</div>
      <div class="number-container" routerLink="/admUsuario">
        <div class="number" style="display: flex; ">{{cantUserMes}} 
          <p class="iconsUltimoUsuario" [style.color]="increaseUserMes > 0 ? 'green' : 'red'">
            {{ increaseUserMes }}%
          </p>
          <img *ngIf="increaseUserMes < 0"  class="imgValores" >
          <img *ngIf="increaseUserMes > 0" class="imgValoresSubida" >
        </div>
      </div>
    </div>
  </mat-card>
    <mat-card class="card small-card ">
      <div class="card-content">
        <div class="title">Total Usuarios Bloqueados</div>
        <div class="number-container">
          <div class="number" style="display: flex; ">
              {{cantidadUsuariosReportado}}
            <img  class="imgErrorUser" >
          </div>
        </div>
      </div>
    </mat-card>

  </div>


  <div class="card-container">
    <mat-card class="card large-card-7">
      <mat-card-header>
        <p routerLink="/admPublicaciones">Posteos de la instancia</p>
      </mat-card-header>
      <mat-divider></mat-divider>
   

<div>
  <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend"
          [type]="pieChartType">
  </canvas>
</div>

    </mat-card>

    <mat-card class="card large-card-8">
      
    
        <mat-card-header>
          <p >Tendencias</p>
        </mat-card-header>
        <mat-divider></mat-divider>
     
        <ul class="tendencias-list" *ngFor="let tendencia of topHastagsInicio" >
          <li class="tendencia">
            <span class="hashtag">{{ '#' + tendencia.name }}</span>
            <span class="count">{{ tendencia.relationshipCount }}</span>
          </li>
        </ul>
    
    </mat-card>
  </div>


</div>


<div *ngIf="tipoU !== 'Moderator'">
  <div class="contenedorError">
    <div class="cajaError">
      <h1 class="h1Error">No tienes permiso para acceder aquí. Volviendo al inicio.</h1>
    </div>
    <div class="cajaError"><img class="imgError"></div>
    <div class="cajaError">
      <button mat-raised-button routerLink="/" color="primary" class="btnError">Volver</button>
    </div>
  </div>
</div>