<app-header-platform-administrator *ngIf="tipoU === 'Platform-Administrator'"></app-header-platform-administrator>
<div *ngIf="tipoU === 'Platform-Administrator'">
    <p>
        <mat-toolbar style="color: white;">
          <mat-toolbar-row>
            <mat-card-title class="center-content">Gestion de Instancias</mat-card-title>
          </mat-toolbar-row>
        </mat-toolbar>
    </p>    
    <p>
        <mat-toolbar style="color: black;">
          <mat-toolbar-row>
            <button mat-raised-button routerLink="/registrarInstancia" color="primary">Nueva Instancia</button>
          </mat-toolbar-row>
        </mat-toolbar>
    </p>   
    
<div class="table-container">
    <table mat-table [dataSource]="dataSource"
       class="mat-elevation-z8">
      <ng-container matColumnDef="Nombre">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.nombre}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="Dominio">
        <mat-header-cell *matHeaderCellDef> Dominio </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.dominio}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="Tematica">
        <mat-header-cell *matHeaderCellDef> Tematica </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.tematica }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="Editar">
        <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <!-- routerLink="/inicioAdmPlataformaGestorInstancia" -->
            <button mat-button (click)="navigateTo(row)">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Borrar">
        <mat-header-cell *matHeaderCellDef> Borrar </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button mat-button (click)="openDialog()">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Detalle">
        <mat-header-cell *matHeaderCellDef> Detalle </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button mat-button (click)="navigateToDetails(row)">
            <mat-icon>info</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columnas" ></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
    </table>
  </div>
</div>
<div>
  <mat-paginator [pageSizeOptions]="[10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements">
  </mat-paginator>
</div>

<div *ngIf="tipoU !== 'Platform-Administrator'">
  <div class="contenedorError">
    <div class="cajaError">
      <h1 class="h1Error">No tienes permiso para acceder aquí. Volviendo al inicio.</h1>
    </div>
    <div class="cajaError"><img class="imgError"></div>
    <div class="cajaError">
      <button mat-raised-button routerLink="/" color="primary" class="btnError">Volver</button>
    </div>
  </div>
</div>