<p>
    <mat-toolbar color="primary">
    <img class="img" src={{instanciaActualParaHeader?.logo}}>
      <span>{{instanciaActualParaHeader?.nombre}} </span>
      <button (click)="toggleModoOscuro()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>brightness_2</mat-icon>
      </button>

      <button mat-button routerLink="/admUsuario">
        Modo Moderador
      </button>
      <button mat-icon-button  (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
</p>
