
  //alineaciones de los 2 div 
  .container {
    display: flex;
 margin-top: -5%;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    height: 100vh; /* Establece la altura al 100% del viewport */
  }
  
  .box {
    width: 50%;
  
    text-align: center;
   
  }
  
  //fin slinrsviord
  .letraStylo {
    margin: 1%;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    color: #401801;
    font-size: 45px;
  }
  .img{
    clip-path: circle(50% at 50% 50%);
    width: 250px; /* Ancho deseado para el contenedor */
    height: 250px; /* Alto deseado para el contenedor */
  }



.login-container {
    display: flex;
    margin-top: -3%;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px); /* 100px es la distancia desde la parte superior */
  }
  
  mat-card {
    width: 500px;
  }
  
  mat-card-title {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
  }
  
  mat-form-field {
    width: 100%;
    margin-top: 15px;
  }
  
  button {
    width: 100%;
    border:none;
    margin-top: 20px;
  }



  /* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para el contenedor principal */
  .contenedor {
    display: flex;
    margin-top: -10%;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    height: 100px; /* Establece la altura al 100% del viewport */
  }
  
  /* Estilos para los divs */
   .div-derecho{
    width: 40%;
    height: 10px;
    margin-top: 20%;
    margin-left: -20%;

  } 
  .div-izquierdo{
    width: 40%;
    height: 10px;
    margin-top: 10%;
    margin-right: -30%;
  } 
  .div-abajo {
    width: 80%;
    margin:20%
  }
  
  .div-izquierdo, .div-derecho {
    flex: 1;
  }
  
  .div-abajo {
    flex: 2;
  }
  

  
  //SECCION ERROR
//INI IMG ERROR
.imgError {
    background: url('/assets/img/error.png') no-repeat center center;
    width: 350px; /* Ancho deseado para el contenedor */
    height: 350px; /* Alto deseado para el contenedor */
    border: none;
    background-size: 350px 350px; /* Establece el tamaño de la imagen deseado */
    clip-path: inset(1% 1% 1% 1%);
    --mdc-protected-button-container-color:#2E4159;
  }
  
  .btnError{
    --mdc-protected-button-container-color: #2E4159;
    --mdc-protected-button-label-text-color: #fff;
    width: 30%;
    font-family: 'Kanit', sans-serif; 
    font-size: 30px;
  
  }
  .h1Error{
    font-family: 'Kanit', sans-serif; 
    font-size: 40px;
  }
  .contenedorError {
    display: flex;
    margin-top: -4%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Esto centra verticalmente en la ventana del navegador */
  }
  
  .cajaError {
    width: 80%;
    height:auto;
    text-align: center;
    padding: 20px;
    margin: 10px 0;
  }
  
  .mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

  .example-full-width{
    width: 100%;
  }
  .mat-mdc-form-field-infix {
    width: 100%;
    margin: 2%;

}

///
.image-container {
  position: relative;
  display: inline-block;
  max-width: 150px; /* Ajusta el tamaño máximo según tus preferencias */
  max-height: 150px; /* Ajusta el tamaño máximo según tus preferencias */
  overflow: hidden;
}

.img {
  width: 100px; /* Ajusta el ancho máximo según tus preferencias */
  height: 100px; /* Ajusta el alto máximo según tus preferencias */
  object-fit: cover;
}


.remove-button {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-button mat-icon {
  font-size: 16px; /* Ajusta el tamaño de la cruz según tus preferencias */
}

@media screen and (max-width: 900px) {
  h1{
    font-size: 14px;
  }
  p{
    font-size: 10px;
    margin-right: 10px;
  }
  .mdc-evolution-chip__text-label {
    font-size: 10px;
  }
  .img{
    clip-path: circle(50% at 50% 50%);
    width: 70px; /* Ancho deseado para el contenedor */
    height: 70px; /* Alto deseado para el contenedor */
    margin-right: 70px;
  }
}
@media screen and (max-width: 500px) {
  h1{
    font-size: 12px;
  }
  p{
    font-size: 10px;
    margin-right: 10px;
  }
   .mdc-evolution-chip__text-label {
    font-size: 10px;
  }
  .img{
    clip-path: circle(50% at 50% 50%);
    width: 70px; /* Ancho deseado para el contenedor */
    height: 70px; /* Alto deseado para el contenedor */
    margin-right: 70px;
  }


}