<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500;700&display=swap">

<div *ngIf="errorEncontrado === 0">
    <div *ngIf="instanciaActual?.esquemaColores === 1" class="body1">
        <div>
            <div class="div1"></div>
            <div class="div2"></div>
            <div class="div3"></div>
        </div>
    </div>

    <div [ngClass]="{'change-colors-style-1': esquemaColor1}">
        <div class="container">
        <div class="box">
            <div class="contenedor">
                <div class="div-izquierdo"><img src="{{instanciaActual?.logo}}" alt="Imagen" class="img"></div>
                <div class="div-derecho">
                    <h1 class="letraStylo">{{instanciaActual?.nombre}}</h1>
                    <mat-chip class="example-box">{{instanciaActual?.tematica}} </mat-chip>
                </div>
            </div>
            <div class="div-abajo">
                <p>Lope imput wol inti oel dna sd lore input,mput wol inti oel dna sd lore input. Lput wol inti oel dna sd lore input </p>
            </div>
        </div>
        <div class="box">
            <div class="login-container">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Iniciar sesión</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <form [formGroup]="loginForm">
                            <mat-form-field>
                                <input matInput placeholder="Correo electrónico" type="email" formControlName="email">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="Contraseña" type="password" formControlName="password">
                            </mat-form-field>
                            <button mat-raised-button color="primary" class="btn" (click)="onLogin()">Iniciar sesión</button>
                        </form>
                        <p class="registro-link">¿No tienes una cuenta? <a href="/registrarUsuario">Registrarse</a></p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
</div>

<div *ngIf="errorEncontrado === 1">
        <div class="contenedorError">
          <div class="cajaError">
            <h1 class="h1Error">Error, ruta no valida.</h1>
          </div>
          <div class="cajaError"><img class="imgError"></div>
          <div class="cajaError">
            <button mat-raised-button routerLink="/" color="primary" class="btnError">Volver</button>
          </div>
      
</div>
