<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<app-header *ngIf="tipoU === 'Common-User'"></app-header>
<app-header-moderator *ngIf="tipoU === 'Moderator'"></app-header-moderator>
<div class="container" *ngIf="tipoU === 'Common-User' || tipoU === 'Moderator'">
  <div class="section costados"></div>
  <div class="section section1">
    <mat-card class="example-card posicion">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{usuario?.firstName}} </mat-card-title>
          <mat-card-subtitle>{{usuario?.userName}}</mat-card-subtitle>
          <img class="imgPERFIL" src={{usuario?.profileImage}} *ngIf="contenidoVisible !== 'perfil'">
        </mat-card-title-group>
      </mat-card-header>
      <br>
      <mat-card-content>
        <form [formGroup]="registrarForm">
          <mat-form-field class="example-full-width">
            <mat-label>Escribir</mat-label>
            <textarea style="height: 1000px;" class="colorletras" matInput [value]="inputText" maxlength="100" formControlName="text"
              placeholder="Publica..."></textarea>
          </mat-form-field>
          <div *ngIf="base64Image" class="image-container">
            <img [src]="base64Image" alt="Imagen" class="img">
            <button (click)="removeImage()" class="remove-button">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <input hidden (change)="onFileSelected($event)" #fileInput type="file" formControlName="logo">
          <a type="button" (click)="fileInput.click()" *ngIf="!base64Image">
            <mat-icon>attach_file</mat-icon>
          </a>
          <div>
            <button mat-raised-button color="primary" (click)="newPost()"
              [disabled]="!registrarForm.get('text')?.value">Publicar</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="section section2">
   
    <div *ngIf="contenidoVisible === 'explorar'" >
      <div class="scrollable-content" #scrollableContent >
        <div *ngFor="let x of inicioTodosPost">
          <br>
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"><img class="imgPostUser"
                  src={{x.userOwner.profileImage}}> 
              </div>
              <mat-card-title (click)="openDialogSeguir(x.userOwner.userName,'explorar')"> {{x.userOwner?.firstName}}</mat-card-title>

              <mat-card-subtitle >
                {{ x.userOwner.userName }} | {{ x.created | date:'dd/MM/yyyy HH:mm'  }}
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p class="pComentario">
                <ng-container *ngFor="let word of x.text.split(' '); let i = index">
                  <ng-container *ngIf="word.startsWith('#'); else nonHashtag">
                    <span class="blue-text">{{ word }} </span>
                  </ng-container>
                  <ng-template #nonHashtag>
                    {{ word }} 
                  </ng-template>
                </ng-container>
              </p>
              
              <img class="imgContenido" *ngIf="x.attachment" src={{x.attachment}}>
              <a (click)="openDialog(x.postId)" class="mgPost">{{ x.likes.length }} ❤</a>
              
            </mat-card-content>
            <mat-card-actions>
              <div class="example-button-row">
                <button mat-icon-button [ngClass]="{'color-rojo': colorRojoMap[x.postId]}" (click)="alternarVisibilidad(x.postId) ; addLink(x.postId) ; x.likes.length = x.likes.length + 1">
                  <mat-icon class="icon">favorite</mat-icon>
                </button>     
                <button mat-icon-button (click)="mostrarDivComentario(x.postId)">
                  <mat-icon class="icon">chat_bubble</mat-icon>
                </button>
              </div>
            </mat-card-actions>

            <div *ngIf="mostrarDiv[x.postId]">
              <mat-card-content>
                <form [formGroup]="newComentario">
                  <input class="x" formControlName="textComentario">
                  <button mat-mini-fab color="accent" [disabled]="!newComentario.get('textComentario')?.value"
                    (click)="newComentarioPost(x.postId)">
                    <mat-icon>arrow_forward</mat-icon>
                  </button>
                </form>
                <mat-card-content>
                  <div *ngFor="let comentario of x.comments">
                    <br>
                    <mat-card>
                      
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"><img class="imgPostUser"
                        src={{comentario.userOwner.profileImage}}>
                    </div>
                      <mat-card-title>{{comentario.userOwner?.firstName}}</mat-card-title>
                      <mat-card-subtitle>
                        {{comentario.userOwner.userName}} | {{comentario.created | date:'dd/MM/yyyy HH:mm'}}
                      </mat-card-subtitle>
                    </mat-card-header>
                    <p  class="pComentario">
                    {{ comentario.text }}
                  </p>
                    </mat-card>
                  </div>
                </mat-card-content>

              </mat-card-content>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
    <div *ngIf="contenidoVisible === 'comentarPost'">
      <p>comentarpost</p>
    </div>

    <div *ngIf="contenidoVisible === 'home'">
   
      <div class="scrollable-content" #scrollableContent>
        <div *ngFor="let x of postHome">
          <br>
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"><img class="imgPostUser"
                  src={{x.userOwner?.profileImage}}>
              </div>
              <mat-card-title (click)="openDialogSeguir(x.userOwner.userName,'home')"> {{x.userOwner?.firstName}}</mat-card-title>
              <button mat-icon-button class="options-button" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-button color="primary"  (click)="reportPosteo(x.postId)">Reportar Publicación</button>
                <button mat-button color="warn">Bloquear Usuario</button>
              </mat-menu>
              <mat-card-subtitle >
                {{ x.userOwner.userName }} | {{ x.created | date:'dd/MM/yyyy HH:mm' }}
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p class="pComentario">
                <ng-container *ngFor="let word of x.text.split(' '); let i = index">
                  <ng-container *ngIf="word.startsWith('#'); else nonHashtag">
                    <span class="blue-text">{{ word }} </span>
                  </ng-container>
                  <ng-template #nonHashtag>
                    {{ word }} 
                  </ng-template>
                </ng-container>
              </p>
              
              <img class="imgContenido" *ngIf="x.attachment" src={{x.attachment}}>
              <div>
                <a (click)="openDialog(x.postId)" class="mgPost">{{ x.likes.length }} ❤</a>
              </div>

              
            </mat-card-content>
            <mat-card-actions>
              <div class="example-button-row">
                <button mat-icon-button [ngClass]="{'color-rojo': colorRojoMap[x.postId]}" (click)="alternarVisibilidad(x.postId) ; addLink(x.postId) ; x.likes.length = x.likes.length + 1">
                  <mat-icon class="icon">favorite</mat-icon>
                </button>     
                <button mat-icon-button (click)="mostrarDivComentario(x.postId)">
                  <mat-icon class="icon">chat_bubble</mat-icon>
                </button>
              </div>
            </mat-card-actions>

            <div *ngIf="mostrarDiv[x.postId]">
              <mat-card-content>
                <form [formGroup]="newComentario">
                  <div class="example-button-row">
                  <input class="x" formControlName="textComentario">
                  <button mat-mini-fab color="accent" [disabled]="!newComentario.get('textComentario')?.value"
                    (click)="newComentarioPost(x.postId)">
                    <mat-icon>arrow_forward</mat-icon>
                  </button>
                </div>
                </form>
                <mat-card-content>
                  <div *ngFor="let comentario of x.comments">
                    <br>
                    <mat-card>                
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"><img class="imgPostUser"
                        src={{comentario.userOwner?.profileImage}}>
                    </div>
                      <mat-card-title>{{comentario.userOwner?.firstName}}</mat-card-title>
                      <mat-card-subtitle>
                        {{comentario.userOwner.userName}} | {{comentario.created | date:'dd/MM/yyyy HH:mm'}}
                      </mat-card-subtitle>
                    </mat-card-header>
                    <p  class="pComentario">
                    {{ comentario.text }}
                  </p>
                    </mat-card>
                  </div>
                </mat-card-content>

              </mat-card-content>
            </div>
          </mat-card>
        </div>
      </div>
    </div>

    <div *ngIf="contenidoVisible === 'perfil'">
      <div class="scrollable-content">
        <div class="">
          <div class="divPerfilcolor">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>
          <div class="perfil-containerImgUser">
            <img class="imgPerfilUser" src={{usuario?.profileImage}}>
          </div>
          <h1 class="textoMiPerfil">{{usuario?.firstName}} {{usuario?.lastName}}</h1>
          <h4 class="textoMiPerfilArroba">{{usuario?.userName}}</h4>
          <div>
            <p>{{usuario?.biography}}</p>
          </div>
          <h4>
            <mat-icon class="iconDiaCumple">calendar_month</mat-icon>
            {{ usuario?.birthday | date:'dd/MM/yyyy' }}
          </h4>
          <p  routerLink="/modificarUsuario">Seguidores  {{misseguidores.length}} Seguidos {{losquesigo.length}} </p>
        </div>
        <hr>
        <div *ngFor="let x of misPost">
          <br>
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"><img class="imgPostUser" src={{usuario?.profileImage}}>
              </div>
              <mat-card-title> {{usuario?.firstName}}</mat-card-title>
              <mat-card-subtitle> {{usuario?.userName}} | {{ x.created | date:'dd/MM/yyyy HH:mm' }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{x.text}}
              </p>
              <img class="imgContenido" *ngIf="x.attachment" src={{x.attachment}}>
              <a (click)="openDialog(x.postId)" class="mgPost">{{ x.likes.length }} ❤</a>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>


    <div *ngIf="contenidoVisible === 'notificacion'">
      <div class="scrollable-content">
        <div class="">
          <div class="divPerfilcolor">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>
          <div class="perfil-containerImgUser">
            <img class="imgPerfilUser" src={{usuarioVer?.profileImage}} (click)="openDialogSeguir(usuarioVer?.userName,'home')">
          </div>
          <h1 class="textoMiPerfil">{{usuarioVer?.firstName}} {{usuarioVer?.lastName}}</h1>
          <h4 class="textoMiPerfilArroba">{{usuarioVer?.userName}}</h4>
          <div>
            <p>{{usuarioVer?.biography}}</p>
          </div>

          <h4>
            <mat-icon class="iconDiaCumple">calendar_month</mat-icon>
            {{ usuarioVer?.birthday | date:'dd/MM/yyyy' }}
          </h4>
          <p (click)="openDialogSeguir(usuarioVer?.userName,'home')">Seguidores  {{misseguidoresVer.length}} Seguidos {{losquesigoVer.length}} </p>
        </div>
        <hr>
        <div *ngFor="let x of misPostVer">
          <br>
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"><img class="imgPostUser" src={{usuarioVer?.profileImage}}>
              </div>
              <mat-card-title> {{usuarioVer?.firstName}}</mat-card-title>
              <mat-card-subtitle> {{usuarioVer?.userName}} | {{ x.created | date:'dd/MM/yyyy HH:mm' }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{x.text}}
              </p>
              <img class="imgContenido" *ngIf="x.attachment" src={{x.attachment}}>
              <a (click)="openDialog(x.postId)" class="mgPost">{{ x.likes.length }} ❤</a>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

  <div class="sect section3">
    <div class="caja">
      <mat-progress-spinner *ngIf="isLoading2" mode="indeterminate"></mat-progress-spinner>
      <div class="tendencias-container" *ngIf="!isLoading2">
        <h2 (click)="obtenertopHastags(4)">Tendencias</h2>
       

        <ul class="tendencias-list" *ngFor="let tendencia of topHastagsInicio" >
          <li class="tendencia">
            <span class="hashtag">{{ '#' + tendencia.name }}</span>
            <span class="count">{{ tendencia.relationshipCount }}</span>
          </li>
        </ul>
      </div>
      <br>
      <mat-progress-spinner *ngIf="isLoading3" mode="indeterminate"></mat-progress-spinner>
      <h2 >Usuarios Sugeridos</h2>
      <div class="sugerencia-container" *ngIf="usuariosParaMostrar">
        
        <div *ngFor="let usuari of usuariosParaMostrar" class="sugerencia-item" >
       
          <img   [src]="usuari?.profileImage" class="sugerencia-imagen" (click)="mostrarContenido('notificacion'); verPerfilSugerido(usuari?.userName)">
          <div>
          <span  class="sugerencia-texto">{{usuari?.firstName}} {{usuari?.lastName}}</span>
        </div>
      </div>
      </div>
      
    </div>
    <div class="caja3">
      <ul class="menu-list">
        <li>
          <a (click)="mostrarContenido('home'); mostrarBange('home'); ">
            <mat-icon *ngIf="contador > 0" [matBadge]="contador" class="icon" (click)="getMisPost()">home</mat-icon>
  <mat-icon *ngIf="contador == 0" class="icon" >home</mat-icon>
            <span class="text"  (click)="getPostsHome(); getPostsHome1()">Home</span>
          </a>
        </li>
        <li>
          <a (click)="mostrarContenido('perfil'); getMisPost(); getSeguidos();">
            <mat-icon class="icon">person</mat-icon>
            <span class="text">Mi Perfil</span>
          </a>
        </li>

        <li>
          <a (click)="mostrarContenido('explorar'); getPosteosInicio();">
            <mat-icon class="icon">explore</mat-icon>
            <span class="text">Explorar</span>
          </a>
        </li>
        <li>
          <hr>
        </li>
        <li>
          <a routerLink="/modificarUsuario">
            <mat-icon class="icon" [matMenuTriggerFor]="menu">settings</mat-icon>
            <span class="text">Ajustes</span>
          </a>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Modificar</button>
            <button mat-menu-item>Modificar</button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="tipoU !== 'Common-User' && tipoU !== 'Moderator'">
  <div class="contenedorError">
    <div class="cajaError">
      <h1 class="h1Error">No tienes permiso para acceder aquí. Volviendo al inicio.</h1>
    </div>
    <div class="cajaError"><img class="imgError"></div>
    <div class="cajaError">
      <button mat-raised-button routerLink="/" color="primary" class="btnError">Volver</button>
    </div>
  </div>
</div>