.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
  }
  .section {
    height: 100%;
    background-color: #191B22;
  }
  .mat-mdc-card {
    --mdc-elevated-card-container-color: #242323;
  }
  //Contenido publicar
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .a {
    width: 100%;
    height: 200px;
  }
  //Contenido publicar
  .section1 {
    background-color: #191B22;
    width: 30%;
     /* Color de fondo para la sección 1 */
  }
  
  .section2 {
    width: 60%;
    background-color: #282C37; /* Color de fondo para la sección 2 */
    overflow-y: scroll; /* Habilita el desplazamiento vertical */
    scrollbar-width: none; /* Oculta la barra de desplazamiento de Firefox */
    -ms-overflow-style: none; /* Oculta la barra de desplazamiento de IE y Edge */
  }
  
  .section2::-webkit-scrollbar {
    width: 0px; /* Oculta la barra de desplazamiento de WebKit (Chrome, Safari) */
  }

  .scrollable-content {
    height: 100%; /* Altura del contenedor scrollable */
    padding: 16px; /* Añade espaciado al contenido si es necesario */
    /* Agrega tu contenido scrollable aquí */
  }
  
  //INI  Menu 3 
  .section3 {
    width: 30%;
    background-color: #191B22;
    flex-direction: column;
    height: 100vh; /* Establece la altura al 100% del viewport */
    justify-content: space-between;
    align-items: center;

  }
  
/* Estilo para la lista del encabezado */
.menu-list.header {
  list-style-type: none; /* Quita el punteo de la lista */
  padding: 0;
  margin: 0;
  margin-bottom: 20px; /* Espacio entre el encabezado y el listado */
}
/* Estilo para los elementos de la lista */
.menu-list li {
  list-style-type: none;
  margin-top: 30px ;
}

/* Estilo para los enlaces */
.menu-list a {
  text-decoration: none;
  list-style-type: none;
  color: #807d7d; /* Cambia el color del texto según tu preferencia */
  font-size: 20px; /* Tamaño de fuente más pequeño similar al de Twitter */
  display: flex;
  align-items: center;
}

/* Estilo para los iconos */
.icon {
  margin-right: 5px; /* Espacio entre el icono y el texto */
  font-size: 20px; /* Tamaño de icono más pequeño similar al de Twitter */
  color: #807d7d;
}


//FIN Menu 3 
  
//INI IMG LOGO
.imglogo {
  background: url('/assets/img/astronauta2.webp') no-repeat center center;
  width: 80px; /* Ancho deseado para el contenedor */
  height: 80px; /* Alto deseado para el contenedor */
  border: none;

  clip-path: inset(2% 2% 2% 3%);
  background-size: contain; /* Ajusta el tamaño para que quepa dentro del contenedor sin recortar */
}

//FIN IMG LOGO
//INI IMG PERFIL
.imgPERFIL{
  background: url('/assets/img/perfil.jpg') no-repeat center center;
  width: 80px; /* Ancho deseado para el contenedor */
  height: 80px; /* Alto deseado para el contenedor */
  border: none;
  clip-path: circle(50% at 50% 50%);
  background-size: contain; /* Ajusta el tamaño para que quepa dentro del contenedor sin recortar */
}
.example-header-image {
  background: url('/assets/img/perfil.jpg') no-repeat center center;
  background-size: cover;
}
//FIN IMG PERFIL
//INI IMG CONTENIDO POST
.imgContenido{
  background: url('/assets/img/contenido.png') no-repeat center center;
  width: 600px; /* Ancho deseado para el contenedor */
  height: 600px; /* Alto deseado para el contenedor */
  border: none;
  margin-left: 3%;
  margin-right: 5%;
  align-items: center;
  clip-path: inset(2% 1% 2% 2%);
  background-size: contain; /* Ajusta el tamaño para que quepa dentro del contenedor sin recortar */

}

.imgIconoInstancia{
  background: url('/assets/img/tl.webp') no-repeat center center;
  width: 200px; /* Ancho deseado para el contenedor */
  height: 100px; /* Alto deseado para el contenedor */
  border: none;
  clip-path: inset(8% 1% 6% 1%);
  background-size: contain; /* Ajusta el tamaño para que quepa dentro del contenedor sin recortar */
}
//FIN IMG CONTENIDO POST

//TEXTOS INI
p{
  font-size: 16px;
  color: #fff;
}
mat-card-title{
  font-size: 16px;
  color: #fff;
}
mat-card-subtitle{
  font-size: 15px;
  color: #a19c9c;
}

.textTitulo{
  font-size: 18px;
  color: #a19c9c;
  font-weight: bold;
}
//TEXTO FIN
.mat-toolbar {
  background-color: #242323;
  color: var(--mat-toolbar-container-text-color);
}

.caja {
  width: 80%; /* Ancho deseado */
  margin-top: 20px; /* Espacio entre los div (ajusta según necesites) */
}
.caja3 {
  width: 80%; /* Ancho deseado */
  margin-top: 300px; /* Espacio entre los div (ajusta según necesites) */
  margin-left: 10px;
  margin-right: 10px;
}

.caja4 { //Parte del icono de la instancia
  width: 80%; /* Ancho deseado */
  margin-top: 100%; /* Espacio entre los div (ajusta según necesites) */
  margin-left: 10px;
  margin-right: 10px;
}

///INI TENDENCIA tendencia 
.tendencias-container {
  background-color: #242323;
  padding: 16px;
  border-radius: 8px;
  margin-left: 5%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tendencias-container h2 {
  font-size: 18px;
  margin-bottom: 12px;
  color: #fdfdfd;
}

.tendencias-list {
  list-style: none;
  padding: 0;
}

.tendencia {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  padding: 4px;
  border-radius: 4px;
  background-color: #242323;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tendencia:hover {
  background-color: #242323;
}

.hashtag {
  font-size: 16px;
  color: #1da1f2; /* Color de Twitter */
}

.count {
  font-size: 14px;
  color: #d8d1d1; /* Color de Twitter para el recuento */
}
.colorletras{
  color: #d8d1d1;
}
//Fin tendecia

.costados{
  width: 15%;

}

.posicion{
  margin: 5%;
}