/* Estilos CSS para la clase options-button */
.options-button {
  position: absolute;
  top: 8px; /* Ajusta según sea necesario para la posición vertical */
  right: 8px; /* Ajusta según sea necesario para la posición horizontal */
}

/* Asegúrate de que la tarjeta tenga posición relativa para que la posición absoluta de options-button sea relativa a la tarjeta */
mat-card {
  position: relative;
}

.contenedorDeSeguir {
  max-width: 300px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.perfil-containerImgUserSeguir {
  margin-bottom: 10px;
}

.imgPerfilUserSeguir {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}


//
.image-container {
  position: relative;
  display: inline-block;
  max-width: 150px; /* Ajusta el tamaño máximo según tus preferencias */
  max-height: 150px; /* Ajusta el tamaño máximo según tus preferencias */
  overflow: hidden;
}

.img {
  width: 100px; /* Ajusta el ancho máximo según tus preferencias */
  height: 100px; /* Ajusta el alto máximo según tus preferencias */
  object-fit: cover;
}
//
.color-rojo {
  color: red;
}


.pLikes{
  font-size: 10px;
}

//
.image-containerComentario {
  position: relative;
  display: inline-block;
  max-width: 90px; /* Ajusta el tamaño máximo según tus preferencias */
  max-height: 90; /* Ajusta el tamaño máximo según tus preferencias */
  overflow: hidden;
}


.imgComentario {
  width: 50px; /* Ajusta el ancho máximo según tus preferencias */
  height: 50px; /* Ajusta el alto máximo según tus preferencias */
  object-fit: cover;
}


.remove-button {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-button mat-icon {
  font-size: 16px; /* Ajusta el tamaño de la cruz según tus preferencias */
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    margin-top: 1%;
  }
  .section {
    height: 100%;

  }
 
  
  //Contenido publicar
  .section1 {
    width: 50%;
   
  }

  
  .section2 {
    width: 80%;
    overflow-y: scroll; /* Habilita el desplazamiento vertical */
    scrollbar-width: none; /* Oculta la barra de desplazamiento de Firefox */
    -ms-overflow-style: none; /* Oculta la barra de desplazamiento de IE y Edge */
  }
  
  .section2::-webkit-scrollbar {
    width: 0px; /* Oculta la barra de desplazamiento de WebKit (Chrome, Safari) */
  }
 
  .scrollable-content {
    height: 100vh; /* Altura del contenedor scrollable */
    padding: 16px; /* Añade espaciado al contenido si es necesario */

  }
  
  //INI  Menu 3 
  .section3 {
    width: 60%;
    flex-direction: column;
    height: 100vh; /* Establece la altura al 100% del viewport */
    justify-content: space-between;
    align-items: center;

  }

  .example-full-width {
    width: 100%;
    height: 300px;

}

  
/* Estilo para la lista del encabezado */
.menu-list.header {
  list-style-type: none; /* Quita el punteo de la lista */
  padding: 0;
  margin: 0;
  margin-bottom: 20px; /* Espacio entre el encabezado y el listado */
}
/* Estilo para los elementos de la lista */
.menu-list li {
  list-style-type: none;
  margin-top: 10% ;
}
.menu-list li :hover {
  color: #007bff; /* Cambia el color al pasar el ratón por encima */
  cursor: pointer; /* Cambia el cursor a "mano con el dedito" */
}
/* Estilo para los enlaces */
.menu-list a {
  text-decoration: none;
  list-style-type: none;
  color: #807d7d; 
  font-size: 20px; 
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 5px; 
  font-size: 20px; 
  
}

.textoMiPerfil{
  color: #050505;
  margin-top: -11%;
}
.textoMiPerfilArroba{
  color:#807d7d;
  margin-top: -3%;
  font-size: 14px;
}
.iconDiaCumple {
  vertical-align: middle;
}

.divPerfilcolor{
  width: 100%;
  background-color: #2E4159;
  height: 100%;
}
.imgPostUser{
  width: 40px; /* Ancho deseado para el contenedor */
  height: 40px; /* Alto deseado para el contenedor */
  border: none;

  clip-path: circle(50% at 50% 50%);
  align-items:end;
}
.imgPerfilUser{
  clip-path: circle(50% at 50% 50%);
  width: 150px; /* Ancho deseado para el contenedor */
  height: 150px; /* Alto deseado para el contenedor */
  border: none;
  margin-top: -10%;
  align-items:end;
}
.imgPERFIL{
  background: url('/assets/img/perfil.jpg') no-repeat center center;
  width: 60px; /* Ancho deseado para el contenedor */
  height: 60px; /* Alto deseado para el contenedor */
  border: none;
  clip-path: circle(50% at 50% 50%);
  background-size: contain; /* Ajusta el tamaño para que quepa dentro del contenedor sin recortar */
}
.perfil-container {
  display: flex;
  justify-content: flex-end;
  align-items: center; 
}
.perfil-containerImgUser {
  display: flex;
  justify-content: flex-end;
  align-items: center; 
}

.imgContenido{
  background:no-repeat center center;
  width: 350px; 
  height: 250px; 
  border: none;
  margin-left: 1%;
  margin-right: 1%;
  align-items: center;
  clip-path: inset(2% 2% 2% 2%);
  background-size: contain; 

}
.user-info {
  display: flex;
  align-items: center;
}


.x{
  height: 30px;
  width: 90%;
  border-radius: 3px;
}



.textTitulo{
  font-size: 18px;
  font-weight: bold;
}


.caja {
  width: 80%; 
  margin-top: 20px; 
}
.caja3 {
  width: 80%; 
  margin-top: 50%; 
  margin-left: 10px;
  margin-right: 10px;
}

.caja4 { 
  width: 80%;
  margin-top: 100%; 
  margin-left: 10px;
  margin-right: 10px;
}

.tendencias-container {
 
  padding: 16px;
  border-radius: 8px;
  margin-left: 5%;
  
}

.tendencias-container h2 {
  font-size: 18px;
  margin-bottom: 12px;

}



.hashtag {
  font-size: 16px;
  color: #1da1f2;
}

.count {
  font-size: 14px;
 
}

//Fin tendecia

.costados{
  width: 15%;

}

.posicion{
  margin: 5%;
}


.btnError{
  width: 30%;
  font-family: 'Kanit', sans-serif; 
  font-size: 30px;

}
.h1Error{
  font-family: 'Kanit', sans-serif; 
  font-size: 40px;
}
.contenedorError {
  display: flex;
  margin-top: -4%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.cajaError {
  width: 80%;
  height:auto;
  text-align: center;
  padding: 20px;
  margin: 10px 0;
}

.mgPost{
font-size: 13px;
color: #807d7d;
}


.image-container {
  display: flex;  
  gap: 10px;      
}



.divSeccionMg{
  width: 600px;
  height: 100px;
  margin: 1px;
  max-height: 200px; /* Establece la altura máxima que desees */
  overflow-y: auto;
}

.pComentario{
  margin-left: 10px;
  margin-right: 10px;
}
.blue-text {
  color: blue;
}

@media screen and (max-width: 900px) {
  .imgContenido {
      max-width: 100%;
      height: auto;
      margin-left: 3%;
      margin-right: 5%;
  }

  mat-card-subtitle{
    font-size: 10px; 
  }
  .imgPerfilUser{
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 480px) {
  .imgContenido {
      max-width: 100%;
      height: auto;
      margin-left: 2%;
      margin-right: 2%;
  }

  mat-card-subtitle{
    font-size: 10px; 
  }
  .imgPerfilUser{
    width: 80px;
    height: 80px;
  }
}

/* Estilos CSS para ajustar la disposición de los elementos */
.tendencia {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hashtag {
  text-align: left;
}

.count {
  text-align: right;
}

.example-button-row {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos */
}

.x {
  margin-right: 10px; /* Espacio entre el input y el botón */
}

/* Estilos para el contenedor principal */
.sugerencia-container {
  display: flex;
}

/* Estilos para cada elemento de sugerencia */
.sugerencia-item {
  margin-right: 20px; /* Ajusta según tus necesidades */
}

/* Estilos para las imágenes redondas */
.sugerencia-imagen {
  width: 50px; /* Ajusta según tus necesidades */
  height: 50px; /* Ajusta según tus necesidades */
  border-radius: 50%; /* Hace la imagen redonda */
  overflow: hidden; /* Asegura que la imagen no sobresalga del círculo */
}

/* Estilos para el texto al lado de cada imagen */
.sugerencia-texto {
  margin-left: 5px; /* Ajusta según tus necesidades */
  font-size: 10px;
}