<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500;700&display=swap">
<mat-toolbar>
    <button class="btn-header" mat-button routerLink="/">Inicio</button>
    <button class="btn-header" mat-button routerLink="/verInstancia">Comunidad</button>
</mat-toolbar>
<body>
    <div class="backgroundBody">
    </div>
    <div class="color-box white-bg">
        <div class="container">
            <div class="boxprueba box3">
                <img class="imgAstronauta">
            </div>
            <div class="boxprueba box4">
                <h1 class="letraStylo">¡Bienvenido a Microb!</h1>
                <p class="letraStylo">Somos una plataforma social que te brinda la libertad de compartir tus
                    pensamientos, ideas y momentos con el mundo. Al igual que en Twitter, aquí puedes crear
                    publicaciones, seguir a otros usuarios, recibir notificaciones de las últimas actualizaciones y
                    mucho más. </p>
                <p class="letraStylo">
                    Únete a nuestra comunidad de usuarios apasionados y descubre lo que está sucediendo en tiempo real.
                    Comparte tus opiniones, sigue a tus amigos y mantente al tanto de las conversaciones más
                    interesantes.

                    ¿Estás listo para comenzar tu viaje en Microb? Regístrate hoy mismo y únete a la conversación. ¡Te
                    estamos esperando!"</p>
                <button mat-raised-button color="primary" routerLink="/verInstancia">Unirte ya</button>
            </div>
        </div>
    </div>
    <div class="color-box light-gray-bg">

        <div class="container">
            <div class="box box5">
                <img class="imgcontenido">
            </div>
            <div class="box box6">
                <h1 class="letraStylo">Explora Nuestra Aplicación Móvil</h1>
                <p class="letraStylo">¡Bienvenido a una experiencia excepcional con nuestra aplicación móvil! Sumérgete en un mundo de posibilidades personalizadas al alcance de tus dedos. Con nuestra aplicación, hemos llevado la comodidad directamente a tu dispositivo, permitiéndote acceder a nuestros servicios de manera rápida y sencilla.</p>
                
                <p class="letraStylo">En nuestra aplicación, podrás conectar con otros usuarios de tu instancia seleccionada, compartir publicaciones emocionantes, seguir a nuevos usuarios y participar en conversaciones vibrantes. Descubre un espacio donde la interacción y la creatividad se fusionan para ofrecerte una experiencia única.</p>
                
               
            </div>
        </div>
    </div>
    <div class="color-box white-bg">
        <div class="container">
            <div class="box box1">
                <img class="planeta1">
            </div>
            <div class="box box2">
                <h1 class="letraStylo">Reglas</h1>
                <p class="letraStylo">En Microb, nos esforzamos por crear un entorno seguro, positivo y enriquecedor para todos 
                    nuestros usuarios. Para garantizar una experiencia óptima, te pedimos que sigas estas reglas y normas,

                    
                    Mantén siempre un tono respetuoso y cortés al interactuar con otros usuarios. No toleramos comportamientos ofensivos, discriminación o acoso de ningún tipo.
                    
                
                    Evita publicar contenido que sea violento, obsceno, difamatorio o que viole los derechos de propiedad intelectual. Nos esforzamos por mantener un ambiente seguro y amigable para todas las edades.

                </p>
                <p  class="letraStylo"> ¡Gracias por ser parte de nuestra comunidad y por ayudarnos a mantener un ambiente respetuoso para
                    todos!</p>
                    
            </div>
        </div>
    </div>

    <div class="backgroundPie">

    </div>
</body>