<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500;700&display=swap">

<body>
    <div class="backgroundBody">

    </div>
    <div>
        <div class="button-container">
            <button mat-stroked-button color="primary" routerLink="/inicioAdm">
                Inicio ADm
            </button>
            
            <button mat-raised-button color="primary" routerLink="/inicioUsuario">
                Unirte ya
            </button>
            <button mat-stroked-button color="primary" routerLink="/verInstancia">
                Conocer Más
            </button>

        </div>

    </div>

    <div class="color-box white-bg">
        <div class="container">

            <div class="box box3">
                <img class="imgAstronauta">
            </div>
            <div class="box box4">
                <h1 class="letraStylo">¡Bienvenido a Microb!</h1>
                <p class="letraStylo">Somos una plataforma social que te brinda la libertad de compartir tus
                    pensamientos, ideas y momentos con el mundo. Al igual que en Twitter, aquí puedes crear
                    publicaciones, seguir a otros usuarios, recibir notificaciones de las últimas actualizaciones y
                    mucho más. </p>
                <p class="letraStylo">
                    Únete a nuestra comunidad de usuarios apasionados y descubre lo que está sucediendo en tiempo real.
                    Comparte tus opiniones, sigue a tus amigos y mantente al tanto de las conversaciones más
                    interesantes.

                    ¿Estás listo para comenzar tu viaje en Microb? Regístrate hoy mismo y únete a la conversación. ¡Te
                    estamos esperando!"</p>
                <button mat-raised-button color="primary">Leer más</button>
            </div>
        </div>
    </div>
    <div class="color-box light-gray-bg">

        <div class="container">
            <div class="box box5">
                <img class="imgcontenido">
            </div>
            <div class="box box6">
                <h1 class="letraStylo">Unirte</h1>
                <p class="letraStylo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget odio
                    volutpat, elementum lacus
                    sed, venenatis dolor. Sed maximus augue vitae felis blandit, quis vulputate arcu congue. Morbi
                    venenatis, neque eu convallis faucibus, quam dui dapibus enim, a ullamcorper lorem eros non nunc.
                    Fusce facilisis sapien a molestie malesuada. Vivamus at turpis velit. Duis eu porttitor dui. Vivamus
                    sed placerat diam. Vivamus non auctor sapien. Suspendisse eu libero eu purus finibus rhoncus. In hac
                    habitasse platea dictumst. Donec sagittis quam in lectus accumsan, id ultrices mi auctor. Sed quis
                    ornare arcu. Duis consectetur ante vel neque cursus, sit amet ultricies mauris ultricies. Ut erat
                    diam, posuere et sodales nec, tincidunt id urna. Duis elementum est sit amet ex molestie, vitae
                    rhoncus mi tincidunt.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget odio volutpat, elementum lacus
                    sed, venenatis dolor. Sed maximus augue vitae felis blandit, quis vulputate arcu congue. Morbi
                    venenatis, neque eu convallis faucibus, quam dui dapibus enim, a ullamcorper lorem eros non nunc.
                    Fusce facilisis sapien a molestie malesuada. Vivamus at turpis velit. Duis eu porttitor dui. Vivamus
                    sed placerat diam. Vivamus non auctor sapien. Suspendisse eu libero eu purus finibus rhoncus. In hac
                    habitasse platea dictumst. Donec sagittis quam in lectus accumsan, id ultrices mi auctor. Sed quis
                    ornare arcu. Duis consectetur ante vel neque cursus, sit amet ultricies mauris ultricies. Ut erat
                    diam, posuere et sodales nec, tincidunt id urna. Duis elementum est sit amet ex molestie, vitae
                    rhoncus mi tincidunt.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget odio volutpat, elementum lacus
                    sed, venenatis dolor. Sed maximus augue vitae felis blandit, quis vulputate arcu congue. Morbi
                    venenatis, neque eu convallis faucibus, quam dui dapibus enim, a ullamcorper lorem eros non nunc.
                    Fusce facilisis sapien a molestie malesuada. Vivamus at turpis velit. Duis eu porttitor dui. Vivamus
                    sed placerat diam. Vivamus non auctor sapien. Suspendisse eu libero eu purus finibus rhoncus. In hac
                    habitasse platea dictumst. Donec sagittis quam in lectus accumsan, id ultrices mi auctor. Sed quis
                    ornare arcu. Duis consectetur ante vel neque cursus, sit amet ultricies mauris ultricies. Ut erat
                    diam, posuere et sodales nec, tincidunt id urna. Duis elementum est sit amet ex molestie, vitae
                    rhoncus mi tincidunt.</p>
                <button mat-raised-button color="primary">Leer más</button>
            </div>
        </div>
    </div>
    <div class="color-box white-bg">
        <div class="container">
            <div class="box box1">
                <img class="planeta1">
            </div>
            <div class="box box2">
                <h1 class="letraStylo">Reglas</h1>
                <p class="letraStylo">En MICROB, creemos en la importancia de mantener un ambiente en línea seguro y
                    respetuoso para todos. Para lograrlo, hemos establecido reglas y pautas de comunidad que deben ser
                    seguidas por todos los miembros.

                    Para obtener más información sobre nuestras reglas y cómo contribuyen a crear un espacio positivo,
                    haz clic en el botón "Leer Más" a continuación.

                </p>
                <p  class="letraStylo"> ¡Gracias por ser parte de nuestra comunidad y por ayudarnos a mantener un ambiente respetuoso para
                    todos!</p>
                <button mat-raised-button color="primary">Leer más</button>
            </div>
        </div>
    </div>

    <div class="backgroundPie">

    </div>
</body>