<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=WorkSans">

<body>
    <div class="backgroundBody">

    </div>
<div>  
    <div class="button-container">
        <button mat-raised-button color="primary" >
          Unirte ya
        </button>
        <button mat-stroked-button color="primary">
          Conocer Más
        </button>
      </div>
      
</div>

    <div class="color-box white-bg">
        <div class="container">
           
            <div class="box box3">
                <img class="imgAstronauta">
            </div>
            <div class="box box4">
                <h1>Información</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget odio volutpat, elementum lacus
                    sed,
                    venenatis dolor. Sed maximus augue vitae felis blandit, quis vulputate arcu congue. Morbi venenatis,
                    neque
                    eu convallis faucibus, quam dui dapibus enim, a ullamcorper lorem eros non nunc. Fusce facilisis
                    sapien a
                    molestie malesuada. Vivamus at turpis velit. Duis eu porttitor dui. Vivamus sed placerat diam.
                    Vivamus non
                    auctor sapien. Suspendisse eu libero eu purus finibus rhoncus. In hac habitasse platea dictumst.
                    Donec
                    sagittis quam in lectus accumsan, id ultrices mi auctor. Sed quis ornare arcu. Duis consectetur ante
                    vel
                    neque cursus, sit amet ultricies mauris ultricies. Ut erat diam, posuere et sodales nec, tincidunt
                    id urna.
                    Duis elementum est sit amet ex molestie, vitae rhoncus mi tincidunt.</p>
                    <button mat-raised-button color="primary">Leer más</button>
            </div>
        </div>
    </div>
    <div class="color-box light-gray-bg">
        
        <div class="container">
            <div class="box box5">
                <img class="imgcontenido">
            </div>
            <div class="box box6">
                <h1 class="letraStylo">Unirte</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget odio volutpat, elementum lacus
                    sed, venenatis dolor. Sed maximus augue vitae felis blandit, quis vulputate arcu congue. Morbi
                    venenatis, neque eu convallis faucibus, quam dui dapibus enim, a ullamcorper lorem eros non nunc.
                    Fusce facilisis sapien a molestie malesuada. Vivamus at turpis velit. Duis eu porttitor dui. Vivamus
                    sed placerat diam. Vivamus non auctor sapien. Suspendisse eu libero eu purus finibus rhoncus. In hac
                    habitasse platea dictumst. Donec sagittis quam in lectus accumsan, id ultrices mi auctor. Sed quis
                    ornare arcu. Duis consectetur ante vel neque cursus, sit amet ultricies mauris ultricies. Ut erat
                    diam, posuere et sodales nec, tincidunt id urna. Duis elementum est sit amet ex molestie, vitae
                    rhoncus mi tincidunt.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget odio volutpat, elementum lacus
                    sed, venenatis dolor. Sed maximus augue vitae felis blandit, quis vulputate arcu congue. Morbi
                    venenatis, neque eu convallis faucibus, quam dui dapibus enim, a ullamcorper lorem eros non nunc.
                    Fusce facilisis sapien a molestie malesuada. Vivamus at turpis velit. Duis eu porttitor dui. Vivamus
                    sed placerat diam. Vivamus non auctor sapien. Suspendisse eu libero eu purus finibus rhoncus. In hac
                    habitasse platea dictumst. Donec sagittis quam in lectus accumsan, id ultrices mi auctor. Sed quis
                    ornare arcu. Duis consectetur ante vel neque cursus, sit amet ultricies mauris ultricies. Ut erat
                    diam, posuere et sodales nec, tincidunt id urna. Duis elementum est sit amet ex molestie, vitae
                    rhoncus mi tincidunt.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget odio volutpat, elementum lacus
                    sed, venenatis dolor. Sed maximus augue vitae felis blandit, quis vulputate arcu congue. Morbi
                    venenatis, neque eu convallis faucibus, quam dui dapibus enim, a ullamcorper lorem eros non nunc.
                    Fusce facilisis sapien a molestie malesuada. Vivamus at turpis velit. Duis eu porttitor dui. Vivamus
                    sed placerat diam. Vivamus non auctor sapien. Suspendisse eu libero eu purus finibus rhoncus. In hac
                    habitasse platea dictumst. Donec sagittis quam in lectus accumsan, id ultrices mi auctor. Sed quis
                    ornare arcu. Duis consectetur ante vel neque cursus, sit amet ultricies mauris ultricies. Ut erat
                    diam, posuere et sodales nec, tincidunt id urna. Duis elementum est sit amet ex molestie, vitae
                    rhoncus mi tincidunt.</p>
                    <button mat-raised-button color="primary">Leer más</button>
            </div>
        </div>
    </div>
    <div class="color-box white-bg">
        <div class="container">
            <div class="box box1">
                <img class="planeta1">
            </div>
            <div class="box box2">
                <h1 class="letraStylo">Reglas</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget odio volutpat, elementum lacus
                    sed, venenatis dolor. Sed maximus augue vitae felis blandit, quis vulputate arcu congue. Morbi
                    venenatis, neque eu convallis faucibus, quam dui dapibus enim, a ullamcorper lorem eros non nunc.
                    Fusce facilisis sapien a molestie malesuada. Vivamus at turpis velit. Duis eu porttitor dui. Vivamus
                    sed placerat diam. Vivamus non auctor sapien. Suspendisse eu libero eu purus finibus rhoncus. In hac
                    habitasse platea dictumst. Donec sagittis quam in lectus accumsan, id ultrices mi auctor. Sed quis
                    ornare arcu. Duis consectetur ante vel neque cursus, sit amet ultricies mauris ultricies. Ut erat
                    diam, posuere et sodales nec, tincidunt id urna. Duis elementum est sit amet ex molestie, vitae
                    rhoncus mi tincidunt.</p>
                    <ul>
                        <li>Regla 1: No tocar el fuego</li>
                        <li>Regla 2: Respetar a los demás</li>
                        <li>Regla 3: No correr en el pasillo</li>
                        <li>Regla 4: Cepillarse los dientes antes de dormir</li>
                        <li>Regla 5: Hacer la tarea todos los días</li>
                      </ul>
                    <button mat-raised-button color="primary">Leer más</button>
            </div>
        </div>
    </div>

    <div class="backgroundPie">

    </div>
</body>