
 /* Estilos para el formulario */
.example-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  /* Estilos para la mitad izquierda del formulario */
  .half {
    flex: 1;
    width: 48%; /* Controla el ancho de cada mitad */
    margin-right: 2%; /* Espacio entre las mitades */
    display: flex;
    flex-direction: column;
  }
  
  /* Estilos para los campos de formulario */
  .mat-form-field {
    width: 100%;
    margin-bottom: 16px; /* Espacio entre los campos */
  }
  
  /* Estilos para el mat-slide-toggle */
  .mat-slide-toggle {
    margin-top: 16px; /* Espacio sobre el slide toggle */
  }
  
 /* Estilos para la imagen */
.img {
    width: 200px;
    height: 200px;
    background: url('/assets/img/1.png') no-repeat center center;
    background-size: cover; /* Asegura que la imagen se ajuste al tamaño del contenedor */
    margin: 0 auto; /* Centra horizontalmente la imagen en su contenedor */
    display: block; /* Para asegurar que la imagen esté centrada correctamente */
  }
  
 
 /* Estilos para la sección */
.seccion {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Estilos para el icono de alerta */
  .icono-alerta {
    margin-right: 10px;
    font-size: 36px;
    color: #f44336; /* Color rojo para el ícono de alerta */
  }
  
  /* Estilos para el icono de usuarios */
  .icono-usuarios {
    margin-left: auto; /* Empuja el icono de usuarios hacia la derecha */
    margin-right: 10px;
    font-size: 36px;
    color: #2196F3; /* Color azul para el ícono de usuarios */
  }
  
  /* Estilos para el texto "Publicaciones reportadas" y "230 Usuarios" */
 /* Estilos para el contenedor de contenido */
.contenido {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea el contenido verticalmente */
    text-align: center; /* Centra el texto horizontalmente */
  }
  
  .titulo {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px; /* Ajusta el margen superior según sea necesario */
  }
  
  
@media (max-width: 768px) {
    .half {
        flex: 100%;
    }
}

//INI IMG ERROR
.imgError {
  background: url('/assets/img/error.png') no-repeat center center;
  width: 350px; /* Ancho deseado para el contenedor */
  height: 350px; /* Alto deseado para el contenedor */
  border: none;
  background-size: 350px 350px; /* Establece el tamaño de la imagen deseado */
  clip-path: inset(1% 1% 1% 1%);
  --mdc-protected-button-container-color:#2E4159;
}

.btnError{
  --mdc-protected-button-container-color: #2E4159;
  --mdc-protected-button-label-text-color: #fff;
  width: 30%;
  font-family: 'Kanit', sans-serif; 
  font-size: 30px;

}
.h1Error{
  font-family: 'Kanit', sans-serif; 
  font-size: 40px;
}
.contenedorError {
  display: flex;
  margin-top: -4%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Esto centra verticalmente en la ventana del navegador */
}

.cajaError {
  width: 80%;
  height:auto;
  text-align: center;
  padding: 20px;
  margin: 10px 0;
}
