
<app-header-instance-administrator *ngIf="tipoU === 'Instance-Administrator'"></app-header-instance-administrator>
<div  *ngIf="tipoU === 'Instance-Administrator'">
<mat-stepper orientation="vertical">
  <mat-step>
    <ng-template matStepLabel>Información</ng-template>
    <ng-template matStepContent>
      <div class="seccion">
        <div class="icono-alerta">
         
          <mat-icon class="icono"  matBadge="15" matBadgeColor="warn">error</mat-icon>
        </div>
        
        <div class="contenido">
          <p class="titulo"  routerLink="/admPublicaciones">23 Publicaciones reportadas</p>
        </div>
        <div class="icono-usuarios">
          <mat-icon class="icono">people</mat-icon>
        </div>
        <div class="contenido">
          <p class="titulo" routerLink="/admUsuario">{{ usuarios?.length || 0 }} Usuarios</p>
        </div>
      </div>      
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Gestinar</ng-template>
    <ng-template matStepContent>
      <br>
      <a mat-button color="primary" [routerLink]="['/ModificarInstancia', instanciaActual?.dominio]">Editar Instancia</a>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Crear</ng-template>
    <p>This content was rendered eagerly</p>
    <button mat-button matStepperPrevious>Back</button>
  </mat-step>
</mat-stepper>
</div>
<div *ngIf="tipoU !== 'Instance-Administrator'">
  <div class="contenedorError">
    <div class="cajaError">
      <h1 class="h1Error">No tienes permiso para acceder aquí. Volviendo al inicio.</h1>
    </div>
    <div class="cajaError"><img class="imgError"></div>
    <div class="cajaError">
      <button mat-raised-button routerLink="/" color="primary" class="btnError">Volver</button>
    </div>
  </div>

</div>