.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px; /* Ajusta el padding según tus preferencias */
}

.title {
  margin: 2%;
  font-size: 20px;

}

.number {
  font-size: 30px;
 margin: 5%;
}

.example-button-container {
  display: flex;
  justify-content: flex-end;
}
.card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.card {
  margin: 1cm;
}

.small-card {
  width: 9cm;
  height: 3cm;
}
.iconsUltimoUsuario{
  font-size: 12px;
  margin: 1%;
  margin-right: 20%;
  color: #2E4159;

  .mat-icon, mat-icon.mat-primary, mat-icon.mat-accent, mat-icon.mat-warn {
    
}


}
.large-card-1 {
  width: 30cm;
  height: 15cm;
}

.large-card-2 {
  width: 10cm;
  height: 15cm;
}

//
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px; /* Ajusta el padding según tus preferencias */
}

.label {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.label mat-icon {
  margin-right: 5px; /* Ajusta el margen según tus preferencias */
}

.numbe {
  margin-left: 5px; /* Ajusta el margen según tus preferencias */
}
//INI IMG ERROR
.imgError {
  background: url('/assets/img/error.png') no-repeat center center;
  width: 350px; /* Ancho deseado para el contenedor */
  height: 350px; /* Alto deseado para el contenedor */
  border: none;
  background-size: 350px 350px; /* Establece el tamaño de la imagen deseado */
  clip-path: inset(1% 1% 1% 1%);
  --mdc-protected-button-container-color:#2E4159;
}

.btnError{
  --mdc-protected-button-container-color: #2E4159;
  --mdc-protected-button-label-text-color: #fff;
  width: 30%;
  font-family: 'Kanit', sans-serif; 
  font-size: 30px;

}
.h1Error{
  font-family: 'Kanit', sans-serif; 
  font-size: 40px;
}
.contenedorError {
  display: flex;
  margin-top: -4%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Esto centra verticalmente en la ventana del navegador */
}

.cajaError {
  width: 80%;
  height:auto;
  text-align: center;
  padding: 20px;
  margin: 10px 0;
}
