.Green-and-Blue-Neon-Light-with-Tropical-Leaves-1-hex { color: #011C40; }
.Green-and-Blue-Neon-Light-with-Tropical-Leaves-2-hex { color: #03658C; }
.Green-and-Blue-Neon-Light-with-Tropical-Leaves-3-hex { color: #04B2D9; }
.Green-and-Blue-Neon-Light-with-Tropical-Leaves-4-hex { color: #04D9B2; }
.Green-and-Blue-Neon-Light-with-Tropical-Leaves-5-hex { color: #04D98B; }
.Ocean-View-1-hex { color: #45858C; }
.Ocean-View-2-hex { color: #A6A48F; }
.Ocean-View-3-hex { color: #BFAA84; }
.Ocean-View-4-hex { color: #401801; }
.Ocean-View-5-hex { color: #A6460F; }
.Netherlands-游游-1-hex { color: #9BA7BF; }
.Netherlands-游游-2-hex { color: #0F1926; }
.Netherlands-游游-3-hex { color: #2E4159; }
.Netherlands-游游-4-hex { color: #566D8C; }
.Netherlands-游游-5-hex { color: #BF8136; }
/*

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500;700&display=swap">
<button mat-raised-button (click)="openDialog()">Pick one</button>
<div *ngIf="errorEncontrado === 0">
    <div *ngIf="instanciaActual?.esquemaColores === 1" class="body1">
        <div>
            <div class="div1"></div>
            <div class="div2"></div>
            <div class="div3"></div>
        </div>
    </div>

    <div [ngClass]="{'change-colors-style-1': esquemaColor1}">
        <div class="container">
        <div class="box">
            <div class="contenedor">
                <div class="div-izquierdo"><img src="{{instanciaActual?.logo}}" alt="Imagen" class="img"></div>
                <div class="div-derecho">
                    <h1 class="letraStylo">{{instanciaActual?.nombre}}</h1>
                    <mat-chip class="example-box">{{instanciaActual?.tematica}} </mat-chip>
                </div>
            </div>
            <div class="div-abajo">
                <p>juan123u@example.com Passwordxyz1- Lope imput wol inti oel dna sd lore input,mput wol inti oel dna sd lore input. Lput wol inti oel dna sd lore input </p>
            </div>
        </div>
        <div class="box">
            <div class="login-container">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Iniciar sesi칩n</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <form [formGroup]="loginForm">
                            <mat-form-field>
                                <input matInput placeholder="Correo electr칩nico" type="email" formControlName="username">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="Contrase침a" type="password" formControlName="password">
                            </mat-form-field>
                            <button mat-raised-button color="primary" class="btn" (click)="onLogin()">Iniciar sesi칩n</button>
                        </form>
                        <p class="registro-link">쯅o tienes una cuenta? <a href="/registrarUsuario">Registrarse</a></p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
</div>

<div *ngIf="errorEncontrado === 1">
        <div class="contenedorError">
          <div class="cajaError">
            <h1 class="h1Error">Error, ruta no valida.</h1>
          </div>
          <div class="cajaError"><img class="imgError"></div>
          <div class="cajaError">
            <button mat-raised-button routerLink="/" color="primary" class="btnError">Volver</button>
          </div>
         
</div>*/
