<p>
  <!-- Encabezado para usuarios no autenticados -->
  <mat-toolbar color="header" *ngIf="tipoUsuario === 'noAutenticado'">
    <span>My App (No Autenticado)</span>
    <span class="example-spacer"></span>
    <a mat-button routerLink="/login"><mat-icon>login</mat-icon></a>
  </mat-toolbar>

  <!-- Encabezado para usuarios comunes -->
  <mat-toolbar class="header" *ngIf="tipoUsuario === 'Common-User'">
    <button mat-icon-button class="example-icon" aria-label="Menú">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App (Usuario Común)</span>
    <span class="example-spacer"></span>
    <mat-form-field class="example-search">
      <input matInput placeholder="Buscar">
      <button mat-icon-button matSuffix>
        <mat-icon>search</mat-icon>
      </button>
    <a mat-button (click)="logout()">Cerrar Sesion</a>

    </mat-form-field>
  </mat-toolbar>

  <!-- Encabezado para administradores -->
  <mat-toolbar color="header" *ngIf="tipoUsuario === 'Instance-Administrator'">
    <a mat-button routerLink="/inicioAdm"><mat-icon>home</mat-icon></a>
    <a mat-button routerLink="/admUsuario">Usuarios</a>
    <a mat-button routerLink="/admPublicaciones">Reportes</a>
    <a mat-button (click)="logout()">Cerrar Sesion</a>
    
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>