<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500;700&display=swap">

<div [ngClass]="{'change-colors-style-0': colores}" *ngIf="reloadHtml">
<p>
  <mat-toolbar *ngIf="tipoUsuario === 'noAutenticado'" class="custom-header">
    <div class="btn-container">
      <button class="btn-header" mat-button routerLink="/">Inicio</button>
      <button class="btn-header" mat-button routerLink="/verInstancia">Comunidad</button>
      <button mat-button (click)="toggleModoOscuro()">
        <mat-icon>brightness_2</mat-icon>
      </button>
    </div>
    <span class="example-spacer"></span>
 
  </mat-toolbar>
  

  <!-- Encabezado para usuarios comunes -->
  <mat-toolbar  *ngIf="tipoUsuario === 'Common-User'" class="custHeader">
    <img class="imgHeader" src={{instanciaActual?.logo}}>
    <a>{{instanciaActual?.nombre}}</a>
    <span class="example-spacer"></span>
    <button mat-button (click)="toggleModoOscuro()">
      <mat-icon>brightness_2</mat-icon>
    </button>
    <a  class="aCerrar" mat-button (click)="logout()">Cerrar Sesión</a>
  </mat-toolbar>

  <!-- Encabezado para administradores -->
  <mat-toolbar   *ngIf="tipoUsuario === 'Instance-Administrator'" class="custHeader" >
    <img class="imgHeader" src={{instanciaActual?.logo}}>
    <a>{{instanciaActual?.nombre}}</a>
    <a mat-button routerLink="/admUsuario">Usuarios</a>
    <a mat-button routerLink="/admPublicaciones">Reportes</a>
    <span class="example-spacer"></span>
    <button mat-button (click)="toggleModoOscuro()">
      <mat-icon>brightness_2</mat-icon>
    </button>
    <a mat-button class="aCerrar" (click)="logout()">Cerrar Sesión</a>   
  </mat-toolbar>

  <mat-toolbar   *ngIf="tipoUsuario === 'Platform-Administrator'" class="custHeader" >
    <img class="imgHeader" src={{instanciaActual?.logo}}>
    <a>{{instanciaActual?.nombre}}</a>
    <a mat-button routerLink="/admUsuario">Usuarios</a>
    <a mat-button routerLink="/admPublicaciones">Reportes</a>
    <span class="example-spacer"></span>
    <button mat-button (click)="toggleModoOscuro()">
      <mat-icon>brightness_2</mat-icon>
    </button>
    <a mat-button class="aCerrar" (click)="logout()">Cerrar Sesión</a>   
  </mat-toolbar>

  <mat-toolbar   *ngIf="tipoUsuario === 'Moderator'" class="custHeader" >
    <img class="imgHeader" src={{instanciaActual?.logo}}>
    <a>{{instanciaActual?.nombre}}</a>
    <a mat-button routerLink="/admUsuario">Usuarios</a>
    <a mat-button routerLink="/admPublicaciones">Reportes</a>
    <span class="example-spacer"></span>
    <button mat-button (click)="toggleModoOscuro()">
      <mat-icon>brightness_2</mat-icon>
    </button>
    <a mat-button class="aCerrar" (click)="logout()">Cerrar Sesión</a>   
  </mat-toolbar>
</p>
</div>
<router-outlet></router-outlet>