.container {
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }
  
  .tweets {
    flex: 1;
    margin-right: 1px;
  }
  
  .tweet-card {
    margin-bottom: 16px;
  }
  
  .user-panel {
    width: 300px;
  }
  
  .user-card {
    margin-bottom: 16px;
  }
  
  .search-card {
    background-color: #f5f8fa;
    padding: 16px;
    border-radius: 8px;
  }
  
  .search-field {
    width: 100%;
  }
  
  .example-header-image {
    background-image: url('https://files.cults3d.com/uploaders/13879998/illustration-file/9cd56413-8dca-424e-9ade-72a64e4a4b7a/1.jpg');
    background-size: cover;
  }
  /* Puedes agregar estilos adicionales según tus preferencias */
  .container {
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }
  .classcard{
    width: 97%;
  }
  .search-container {
    width: 300px;
    padding: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: #fff;
  }
  
  .search-card {
    margin-bottom: 16px;
  }
  
  .search-field {
    width: 100%;
  }
  
  .search-results {
    max-height: 300px;
    overflow-y: auto;
  }
  
  .search-result {
    margin-bottom: 8px;
  }
  
  /* Puedes agregar estilos adicionales según tus preferencias */
  
  input{
    width: 60%;
  }