.registro-container {
  margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px); /* 100px es la distancia desde la parte superior */
  }
  .backgroundBody {

    background: url('/assets/img/pie.png') no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%; /* Ancho deseado para el contenedor */
    height: 300px; /* Alto deseado para el contenedor */
    overflow: hidden;
   
  }
  mat-card {
    width: 500px;
  }
  
  mat-card-title {
    text-align: center;
  }
  
  mat-form-field {
    width: 100%;
    margin-top: 15px;
  }
  
  button {
    width: 100%;
    margin-top: 20px;
  }
  