<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500;700&display=swap">
<mat-toolbar>
  <button class="btn-header" mat-button routerLink="/">Inicio</button>
  <button class="btn-header" mat-button routerLink="/verInstancia">Comunidad</button>
</mat-toolbar>
<div *ngIf="instancias">
  <div class="backgroundBody">
  </div>



  <div *ngIf="instanciasCargadas; else noInstancias">
    <div class="container">
      <div class="items-container">
        <div class="item" *ngFor="let x of instancias">
          <div>
            <mat-card>
              <mat-card-header>
                <img mat-card-image class="imgPORTADA" src={{x.logo}} />
              </mat-card-header>
              <mat-card-content>
                <p>
                  {{x.nombre}} <mat-chip disabled>{{x.tematica.name}}</mat-chip>
                  <mat-chip disabled *ngIf="x.privacidad === 1">Autorizacion</mat-chip>
                  <mat-chip disabled *ngIf="x.privacidad === 2">Invitacion</mat-chip>
                  <mat-chip disabled *ngIf="x.privacidad === 3">Cerrada</mat-chip>
                  <mat-chip disabled *ngIf="x.privacidad !== 1 && x.privacidad !== 2 && x.privacidad !== 3">Abierta</mat-chip>

                </p>
                {{x.description}}
              </mat-card-content>
          
          
     
              <mat-card-actions>
                <button mat-button (click)="navegarAOtroComponente(x.tenantInstanceId,x.dominio)" class="btn">Unirme
                  ya</button>
              </mat-card-actions>
            </mat-card>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noInstancias>
  <button mat-raised-button color="primary" routerLink="/login">Ir a Login</button>
</ng-template>