.change-colors {

    .mat-mdc-raised-button.mat-primary {
        
        background-color: #618C88;
        color: #ffffff;
    }
   
    .mat-mdc-raised-button.mat-accent{
        background-color: #9BBFBC;
        color: #ffffff;
    }

    .mat-toolbar.mat-primary{
        background-color: #395941;
        color: #ffffff;
    }
}

.modo-oscuro{

    background-color: #1F2024;
    .mat-mdc-raised-button.mat-primary {
        
        background-color: #090d0d;
        color: #ffffff;
    }
   
    .mat-mdc-raised-button.mat-accent{
        background-color: #192a29;
        color: #ffffff;
    }

    .mat-toolbar.mat-primary{
        background-color: #090d0d;
        color: #ffffff;
    }
    .mat-mdc-card {
        --mdc-elevated-card-container-color: #4B4952;
    }
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #6d6b74;
    }
    .search-container[_ngcontent-ng-c1987760739] {
        background-color: #6d6b74;
    }
    .search-card[_ngcontent-ng-c1987760739] {
        background-color: #6d6b74;
    }
}

.header1 {
    position: fixed; /* Establece la posición fija */
    top: 0; /* Fija el encabezado en la parte superior de la ventana */
    width: 100%; /* Haz que el encabezado ocupe todo el ancho */
    background-color: #a14848; /* Agrega el color de fondo que desees */
    /* Otros estilos de diseño para tu encabezado */
    z-index: 1000; /* Opcional: Asegura que el encabezado esté por encima de otros elementos */
  }
  /* Estilos para el header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(37, 37, 37, 0); /* Fondo con transparencia */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Espaciado interno */
    z-index: 1000;
    border: none;
  }
  .mat-toolbar {
    background:#000000;
    color: var(--mat-toolbar-container-text-color);
    --mat-toolbar-container-text-color: rgba(255, 255, 255, 0.87);
}

.mat-toolbar[_ngcontent-ng-c3808393383] {
  background: #000000;
  color: var(--mat-toolbar-container-text-color);
  --mat-toolbar-container-text-color: rgba(255, 255, 255, 0.87);

}


  /* Estilos para los botones centrados */
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilos para el espacio de login y el icono de ingresar */
  .login-space {
    margin-right: 20px; /* Espaciado en la esquina derecha */
  }
  
  .icon-ingresar {
    margin-left: 20px; /* Espaciado en la esquina izquierda */
  }
  
  /* Estilos para los botones */
  .button {
    background-color: #007bff; /* Color de fondo de los botones */
    color: #ffffff; /* Color de texto de los botones */
    padding: 10px 20px; /* Espaciado interno de los botones */
    margin: 0 5px; /* Espaciado entre los botones */
    border: none; /* Sin bordes */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    text-decoration: none; /* Sin subrayado en el texto */
  }
  
  /* Estilos para el icono de ingresar */
  .ingresar-icon {
    font-size: 24px;
  }
  
  /* Estilos para el espacio de login */
  .login {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
  }
  
  *{
    margin:0;
    padding:0;
  }

  .custom-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5cm; 
  }
  
  .btn-container {
    display: flex;
    gap: 10px; /* Ajusta el valor según la separación deseada entre los botones */
  }
  
  .btn-header {
    /* Agrega cualquier estilo adicional que desees para los botones */
  }
  


